{% extends "base.html" %}

{% block title %}О школе{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>О нашей школе</h1>
        <p>Мы современная образовательная организация, которая стремится дать качественное и всестороннее образование.</p>
        
        <h2 class="mt-4">Наши преимущества</h2>
        <ul>
            <li>Высококвалифицированный педагогический состав</li>
            <li>Современные методики обучения</li>
            <li>Индивидуальный подход к каждому ученику</li>
            <li>Развитая инфраструктура</li>
        </ul>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Контакты</h5>
                <p class="card-text">
                    Адрес: г. Москва, ул. Школьная, д. 10<br>
                    Телефон: +7 (495) 123-45-67<br>
                    Email: info@school.ru
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
